@charset "utf-8";

/* SHORTCUTS */
.container-fluid.zeroPad {
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}	/*Removes side margins & padding*/



/* GENERAL STYLING */
html {
}
body {
}
a:link {
    color: #212529; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: #212529;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #0a0a0a;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color:  #212529;
    background-color: transparent;
    text-decoration: underline;
}
.listMargin > li {
  margin-bottom: 30px;
}
.listMarginMobile > li {
	margin-bottom: 10px;
}


/* Font Styles & Font Sizing */ 
.titleFont {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
}
.generalFont {
	font-family: 'Roboto', sans-serif;
}
.blackText {
	color: #0a0a0a;
}
.whiteText {
	color: #f5f5f5;
}
.titleSize {
	font-weight: bold;
	font-size: 75pt;
}
.sublineSize {
	font-size: 30pt;
}
.generalSize {
	font-size: 12pt;
}
.mediumSize {
	font-size: 16pt;
}
.titleSizeMobile {
	font-size: 50pt;
}
.sublineSizeMobile {
	font-size: 25pt;
}
.mediumSizeMobile {
	font-size: 12pt;
}


/* Sizing/Positioning */
.full-height {
	height: 100%;
}
.full-width {
	width: 100%;
}
.section {
	position: relative;
}
.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}
.vertical-center-align {
	position: absolute;

	/* pseudo vertical centering */
	bottom: 35%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);

	/* horizontal centering*/
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.bottom-center-align {
	position: absolute;
	bottom: 60px;

	/* horizontal centering*/
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.top-center-align {
    position: absolute;
    top: 0;

    /* horizontal centering*/
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.sectionContainer{
    padding-top: 120pt;
}
.sectionContainerMobile{
    padding-top: 75pt;
}
.bottomImage {
	width: auto;
	height: 25vh;
	position: absolute;
	bottom: 0px;

	/* horizontal centering*/
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}



/* Front Page */
.frontPageText{
	position: relative;
}



/* Progress Page */
.email-bar {
	padding-top: 0px;
	padding-bottom: 0px;
}
.email-form {
  	border-radius:0;
	background: #f5f5f5;
	color: #0a0a0a;
}
.email-btn {
    padding: 14px 24px;
    border: 0 none;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #0a0a0a;
    color: #f5f5f5;
  	border-radius:0;
}
.email-btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
.email-btn:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #212529;
}
.email-btn:active, .btn-primary.active {
    background: #f5f5f5;
    box-shadow: none;
}