@charset "utf-8";

/* SHORTCUTS */
.container-fluid.zeroPad {
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}	/*Removes side margins & padding*/
.blackText {
	color: #0a0a0a;
}
.whiteText {
	color: #f5f5f5;
}



/* GENERAL STYLING */
html {
}
body {
}
li{
  margin: 18px 0;
}
.section {
	position: relative;
}
.headText {
    position: absolute;
    top: 1vh;

    /* horizontal centering*/
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 13vh;
	text-align: center;
}
.sectionContainter{
	width: 100%;
	position: absolute;
    top: 20vh;
}
.generalText{
	font-size: 12pt;
    font-family: 'Roboto', sans-serif;
}
.mediumText{
	font-size: 18pt;
    font-family: 'Roboto', sans-serif;
}



/* Sizing/Positioning */
.full-height {
	height: 100vh;
}
.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}



/* Progress Page */
.bottomImage {
	width: 100%;
	position: absolute;
	bottom: 0px;
}
#email-bar {
	padding-top: 0px;
	padding-bottom: 0px;
}
#email-form {
  	border-radius:0;
	background: #f5f5f5;
	color: #0a0a0a;
}
#email-btn {
    padding: 14px 24px;
    border: 0 none;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #0a0a0a;
    color: #f5f5f5;
  	border-radius:0;
}
#email-btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
#email-btn:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #212529;
}
#email-btn:active, .btn-primary.active {
    background: #f5f5f5;
    box-shadow: none;
}


/* Front Page */
.textContainer {
	width: 100%;
}
.vertical-align {
	width: 100%;
	position: absolute;

	/* pseudo vertical centering */
	bottom: 35%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);

	/* horizontal centering*/
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.bottom-align {
	width: 100%;
	bottom: 5vh;
	position: absolute;

	/* horizontal centering*/
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.frontPageText{
	position: relative;
}
.taglineText {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 13vh;
	text-align: center;
}
.sublineText {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 5vh;
	text-align: center;
}