@charset "utf-8";
/* SHORTCUTS/HACKS */
.container-fluid.zeroPad {
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}	/*Removes side margins & padding*/
.largeBottomPad {
	padding-bottom: 150pt;
}
.mediumBottomPad {
	padding-bottom: 100pt;
}
.lrPad {
	padding-left: 5px;
	padding-right: 5px;
}
.licenseLink {
	color: #0a0a0a !important;
}



/* GENERAL STYLING */
html {
}
body {
}
a:link {
    color: #f5f5f5; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: #f5f5f5;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #f5f5f5;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color:  #f5f5f5;
    background-color: transparent;
    text-decoration: underline;
}
.listMargin > li {
  margin-bottom: 30px;
}
.listMarginMobile > li {
	margin-bottom: 10px;
}



/* Font Styles & Font Sizing */ 
.titleFont {
	font-family: 'Roboto Condensed', sans-serif;
}
.generalFont {
	font-family: 'Roboto', sans-serif;
}
.blackText {
	color: #0a0a0a;
}
.whiteText {
	color: #f5f5f5;
}
.titleSize {
	font-weight: bold;
	font-size: 75pt;
}
.sublineSize {
	font-size: 6vw;
}
.subTitleSize {
	font-size: 3vw;
	font-weight: bold;
}
.generalSize {
	font-size: 12pt;
}
.mediumSize {
	font-size: 1.7vw;
}
.navBarSize {
	font-size: 25pt;
	white-space: nowrap;
	overflow: hidden;
}
.titleSizeMobile {
	font-size: 50pt;
	white-space: nowrap;
	overflow: hidden;
}
.sublineSizeMobile {
	font-size: 25pt;
	white-space: nowrap;
	overflow: hidden;
}
.subTitleSizeMobile {
	font-size: 16pt;
	font-weight: bold;
}
.mediumSizeMobile {
	font-size: 12pt;
}
.navBarSizeMobile {
	font-size: 15pt;
	white-space: nowrap;
	overflow: hidden;
}
.centerText {
	text-align: center;
}
.faded {
	opacity: 0.4;
}



/* Sizing/Positioning */
.full-height {
	height: 100%;
}
.full-width {
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}
.section {
	position: relative;
}
.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}
.transform-center {
	position: absolute;
	/* horizontal centering*/
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);	
}
.bottom-align {
	position: absolute;
	bottom: 60px;
}
.top-align {
    position: absolute;
    top: 0;
}
.sectionContainer{
    padding-top: 120pt;
}
.sectionContainerMobile{
    padding-top: 75pt;
}
.bottomImage {
	width: auto;
	height: 25vh;
	position: absolute;
	bottom: 0px;

	/* horizontal centering*/
	/* slight adjustments due to offcentring */
    left: 49%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}



/* Front Page */
#time {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 3.2vw;
	transform: matrix(1,-0.05,0.3,1,0.8,0);
	padding-bottom: 10vw;
	padding-left: 1.5vw;
}
@media screen and (min-width: 1700px) {
  #time {
    font-size: 54px; /* 3.2*0.01*1700 */
    padding-bottom: 170px; /* 10*0.01*1700 */
	padding-left: 26px; /* 1.5*0.01*1700 */
  }
}
#time_small_screen {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 6.6vw;
	transform: matrix(1,-0.05,0.3,1,0.8,0);
	padding-bottom: 21vw;
	padding-left: 2.7vw;
}
.navBar {
	padding-top: 20px;
}


/* Video Page */
.videoLarge {
    width: 100%;
    height: auto;
}
.videoSmall {
    width: 100%;
    height: auto;
}



/* Features Page */
.featureButtonContainer {
	margin-bottom: 40px;
}
.featureButton {
	display: block;
	width: 70px;
	height: 70px;
}
.featureButton:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.featureButtonLink {
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
    background: black;
    padding: 0;
}
.featureImg {
	padding-left: 50px;
	padding-right: 50px;
}
.featureButtonMobile {
	display: block;
	width: 50px;
	height: 50px;
}
.featureButtonMobile:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.featureButtonLinkMobile {
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
    background: black;
    padding: 0;
}
.featureMobileMargin {
	margin-top: 20px;
}


/* Progress Page */
.email-bar {
	padding-top: 0px;
	padding-bottom: 0px;
}
.email-form {
  	border-radius:0;
	background: #f5f5f5;
	color: #0a0a0a;
	margin-bottom: 20px;
}
.email-btn {
    padding: 14px 24px;
    border: 0 none;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #0a0a0a;
    color: #f5f5f5;
  	border-radius:0;
}
.email-btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
.email-btn:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #212529;
}
.email-btn:active, .btn-primary.active {
    background: #f5f5f5;
    box-shadow: none;
}
.iconContainer {
	/* Code needed if positioning social media icons */
	align-items: center;
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.icon {
	display: inline-block;
	width: 75px;
	height: 75px;
	margin-left: 10px;
	margin-right: 10px;
}
